.custom-scroll {
  overflow-x: auto;
  max-width: 100%;
  padding-bottom: 8px; /* Đảm bảo có khoảng trống dưới khi cuộn */
  scrollbar-width: thin; /* Đối với Firefox */
  scrollbar-color: #ccc transparent; /* Màu sắc cho Firefox */
}

.custom-scroll::-webkit-scrollbar {
  height: 6px; /* Chiều cao scrollbar */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #ccc; /* Màu scrollbar */
  border-radius: 4px; /* Bo góc */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* Nền scrollbar */
}
